/*  your css code here. If applicable */
p::before{
	content:"before element ";
	color:red;
	text-transform:capitalize;
}
p::after{
	content:" after element";
	color:red;
	text-transform:capitalize;
}
