/*  your css code here. If applicable */
div::before{
	content:"before element ";
	color:red;
	text-transform:capitalize;
}
div::after{
	content:" after element";
	color:red;
	text-transform:capitalize;
}
